<h2>Login Alert</h2>

<p>Hi {{name}}, your account was just accessed.</p>

<p>We noticed a login to your account. If this was you, you can safely ignore this email.</p>
<p>If you did not log in, please reset your password immediately.</p>

<hr />
<p>EduWave Learning Platform</p>
