<h3>Hello {{name}},</h3>
<p>Unfortunately, your teacher account request has been <b>rejected</b>.</p>
<p>You may contact support for further clarification.</p>
<br />
<p>Regards,<br />EduWave Team</p>